/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-de-fondo-menu);
    justify-content: space-between;
    
}

.cabecera__logo {
    max-width: 80px;
    /* Ajuste para pantallas pequeñas */
    margin: 0px 10px;
}

.cabecera__titulo {
    font-size: 1.2rem;
    text-align: center;
    flex-wrap: wrap;
}


.navegacion {
    display: flex;

}

.presentacion__foto {
    width: 250px;
    /* Tamaño de la imagen */
    height: 250px;
    border-radius: 30%;
    /* Hace la imagen circular */
    object-fit: cover;
    /* Ajusta la imagen para que encaje bien en el círculo */
}

.navegacion__elemento:nth-child(-n+6) {
    display: none;
    /* Oculta los primeros 6 elementos */
}

.navegacion__elemento:nth-child(7) {
    font-size: 1.2rem;
}


.navegacion__elemento a {
    font-size: 0.9rem;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    margin: 30px;
}

.redes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/

.sobre-mi {
    padding: 30px;
    background-color: #EAF2FD;
}

.sobre-mi__firma {
    width: 30%;
    height: 20%;
}

/*------------------------------ Sección de Habilidades ------------------------------*/

.habilidades__titulo {
    text-align: center;
}

.habilidades ul {
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;
    gap: 30px;
}

.habilidades__elemento img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
}

.habilidades__elemento {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 25px 0px 0px 10px;
    width: 12.5rem;
}

/*------------------------------ Sección de Aficiones --------------------------------*/
.aficiones__titulo {
    text-align: center;
    margin-top: 6.25rem;
}

.aficiones ul {
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;
    gap: 30px;
}

.aficiones__elemento img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
}

.aficiones__elemento {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 25px 0px 0px 10px;
    width: 200px;
}

/*------------------------------ Formación académica --------------------------------*/
.formacion {
    background-color: #EAF2FD;
}

.formacion__elemento {
    text-align: center;
}

.formacion__textos {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.formacion__titulo {
    text-align: center;
    margin-top: 6.25rem;
}

.formacion__icono {
    width: 300px;
    /* Ancho deseado */
    height: 200px;
    /* Alto deseado */
    border: 1px solid #ccc;
    /* Opcional: bordes para visualizar mejor */
    flex: 1;
}


ul.formacion__lista {
    padding: 0px 30px 0px 30px;
}

.formacion__icono__experiencia {
    width: 100%;
    /* Ancho deseado */
    height: auto;
    /* Alto deseado */
    border: 1px solid #ccc;
    /* Opcional: bordes para visualizar mejor */
    flex: 1;
}


/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos__contenedor__experiencia {
    margin: 30px;

}

.proyectos__nombre {
    display: flex;
    justify-content: center;
    animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        transform: translateZ(300px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        transform: translateZ(12px);
        filter: blur(0);
        opacity: 1;
    }
}

/*------------------------------ Sección de Contacto ---------------------------------*/
/* General styles for the contact form */
.contacto {
    padding: 20px;
    background-color: #EAF2FD;
}

.container__contacto {
    max-width: 600px;
    margin: 0 auto;
}

.form-wrapper h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.form-wrapper p {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Styles for input fields */
.caja-contacto input[type="text"],
.caja-contacto input[type="email"],
.caja-contacto .mensaje {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

/* Styles for the "mensaje" field */
.caja-contacto .mensaje {
    height: 100px;
    resize: none;
    /* Prevent resizing */
}

/* Hover effect for input fields */
.caja-contacto input[type="text"]:hover,
.caja-contacto input[type="email"]:hover,
.caja-contacto .mensaje:hover {
    border-color: #007BFF;
}

.caja-contacto input[type="text"]:focus,
.caja-contacto input[type="email"]:focus,
.caja-contacto .mensaje:focus {
    outline: none;
    border-color: #007BFF;
}

/* Hover animation for underline effect */
.caja-contacto input[type="text"],
.caja-contacto input[type="email"],
.caja-contacto .mensaje {
    position: relative;
    background: transparent;
}

.caja-contacto input[type="text"]:hover::after,
.caja-contacto input[type="email"]:hover::after,
.caja-contacto .mensaje:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007BFF;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

.caja-contacto input[type="text"]:focus::after,
.caja-contacto input[type="email"]:focus::after,
.caja-contacto .mensaje:focus::after {
    transform: scaleX(1);
}

/* Styles for the submit button */
.caja-contacto input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.caja-contacto input[type="submit"]:hover {
    background-color: #0056b3;
}


.telefono__contacto {
    width: 50px;
    display: none;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacion__elemento {
        display: block;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }

    .presentacion {
        display: flex;
        flex-direction: row-reverse;

    }

    .presentacion__contenedor {
        justify-content: space-between;
        font-size: 20px;
    }

    .presentacion__foto {
        width: 250px;
        /* Tamaño de la imagen */
        height: 350px;
        border-radius: 30%;
        /* Hace la imagen circular */
        object-fit: cover;
        /* Ajusta la imagen para que encaje bien en el círculo */
    }

    .sobre-mi__firma {
        width: 15%;
        height: 20%;
    }

    .redes {
        display: flex;
        justify-content: start;
        padding: 0px;
        gap: 20px;
    }

    /*Sección de Habilidades*/
    .habilidades ul {
        display: flex;
        justify-content: space-around;
        align-self: center;
        flex-wrap: wrap;
        gap: 70px;
    }

    /*Sección de Contacto*/
    .telefono__contacto {
        width: 50px;
        display: block;
    }

    .aficiones ul {
        display: flex;
        justify-content: space-around;
        align-self: center;
        flex-wrap: wrap;
        gap: 70px;
    }

    /*Sección de Formación académica */

    .formacion__lista {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    /*Sección de Proyectos*/
    .formacion__icono__experiencia {
        width: 80%;
        /* Ancho deseado */
        height: auto;
        /* Alto deseado */
        border: 1px solid #ccc;
        /* Opcional: bordes para visualizar mejor */
    }

    .proyectos__contenedor__experiencia {
        text-align: center;
    }

    .formacion__icono {
        width: 100%;
        /* Ancho deseado */
    }

    /* Sección de Contacto */
    .telefono__contacto {
        display: none;
    }

}

/* Pantallas grandes */
@media (min-width: 1110px) {

    /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
    .cabecera__titulo {
        font-size: 1.8rem;
    }

    .sobre-mi__firma {
        width: 15%;
        height: 20%;
    }

    .navegacion__elemento:nth-child(-n+6) {
        display: block;
    }


    .navegacion__elemento a {
        font-size: 1.1rem;
    }


    .habilidades ul {
        display: flex;
        justify-content: space-around;
        align-self: center;
        flex-wrap: nowrap;
        gap: 30px;
    }

    .aficiones ul {
        display: flex;
        justify-content: space-around;
        align-self: center;
        flex-wrap: nowrap;
        gap: 30px;
    }

    .formacion__icono {
        height: 250px;
        width: 350px;
    }

    .formacion__lista {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .formacion__icono__experiencia {
        width: 35%;
        /* Ancho deseado */
        height: auto;
        /* Alto deseado */
        border: 1px solid #ccc;
        /* Opcional: bordes para visualizar mejor */
    }

    .proyectos__contenedor__experiencia {
        text-align: center;
    }

}